# JSON Animal Data Processing

This notebook processes multiple JSON files containing animal data and combines them into a single standardized DataFrame.

In [74]:
import pandas as pd
import json
import glob
import re
import numpy as np
from typing import List, Union, Any

In [75]:
def parse_weight(weight_str: str) -> float:
    """
    Parse weight string and convert to grams.
    Handles ranges, different units, and various formats.
    """
    try:
        if weight_str is None or weight_str == '' or str(weight_str).lower() == 'nan': 
            return np.nan
    except:
        if weight_str is None: 
            return np.nan
    
    weight_str = str(weight_str).strip().lower()
    
    # Extract numeric values and handle ranges
    numbers = re.findall(r'\d+\.?\d*', weight_str)
    if not numbers:
        return np.nan
    
    # Calculate average if range
    if len(numbers) > 1:
        avg_value = sum(float(num) for num in numbers) / len(numbers)
    else:
        avg_value = float(numbers[0])
    
    # Convert to grams based on unit
    if 'kg' in weight_str:
        return avg_value * 1000  # kg to g
    elif 'g' in weight_str and 'kg' not in weight_str:
        return avg_value  # already in grams
    elif 'lb' in weight_str or 'pound' in weight_str:
        return avg_value * 453.592  # lb to g
    else:
        # Assume kg if no unit specified
        return avg_value * 1000

In [76]:
def parse_size(size_str: str) -> int:
    """
    Parse size string and convert to centimeters.
    Handles ranges, different units, and various formats.
    """
    try:
        if size_str is None or size_str == '' or str(size_str).lower() == 'nan': 
            return np.nan
    except:
        if size_str is None: 
            return np.nan
    
    size_str = str(size_str).strip().lower()
    
    # Extract numeric values and handle ranges
    numbers = re.findall(r'\d+\.?\d*', size_str)
    if not numbers:
        return np.nan
    
    # Calculate average if range
    if len(numbers) > 1:
        avg_value = sum(float(num) for num in numbers) / len(numbers)
    else:
        avg_value = float(numbers[0])
    
    # Convert to cm based on unit
    if 'm' in size_str and 'mm' not in size_str and 'cm' not in size_str:
        return int(avg_value * 100)  # m to cm
    elif 'cm' in size_str:
        return int(avg_value)  # already in cm
    elif 'mm' in size_str:
        return int(avg_value / 10)  # mm to cm
    elif 'in' in size_str or 'inch' in size_str:
        return int(avg_value * 2.54)  # inches to cm
    elif 'ft' in size_str or 'foot' in size_str or 'feet' in size_str:
        return int(avg_value * 30.48)  # feet to cm
    else:
        # Assume meters if no unit specified
        return int(avg_value * 100)

In [77]:
def parse_lifespan(lifespan_str: str) -> float:
    """
    Parse lifespan string and convert to years.
    Handles ranges, different units, and various formats.
    """
    try:
        if lifespan_str is None or lifespan_str == '' or str(lifespan_str).lower() == 'nan': 
            return np.nan
    except:
        if lifespan_str is None: 
            return np.nan
    
    lifespan_str = str(lifespan_str).strip().lower()
    
    # Extract numeric values and handle ranges
    numbers = re.findall(r'\d+\.?\d*', lifespan_str)
    if not numbers:
        return np.nan
    
    # Calculate average if range
    if len(numbers) > 1:
        avg_value = sum(float(num) for num in numbers) / len(numbers)
    else:
        avg_value = float(numbers[0])
    
    # Convert to years based on unit
    if 'month' in lifespan_str:
        return avg_value / 12  # months to years
    elif 'day' in lifespan_str:
        return avg_value / 365  # days to years
    elif 'week' in lifespan_str:
        return avg_value / 52  # weeks to years
    else:
        # Assume years
        return avg_value

In [78]:
def parse_array_field(field_value) -> List[str]:
    """
    Parse field into array of cleaned strings.
    Handles strings, lists, numpy arrays, and other formats.
    """
    # Handle None or empty cases first
    if field_value is None or field_value == '':
        return []
    
    # Handle numpy arrays or lists
    if isinstance(field_value, (list, np.ndarray)):
        try:
            items = [str(item).strip().title() for item in field_value if item is not None and str(item).strip()]
            return [item for item in items if item and item != 'Nan']
        except:
            return []
    
    # Handle strings
    try:
        field_str = str(field_value).strip()
        if not field_str or field_str.lower() == 'nan':
            return []
        items = [item.strip().title() for item in field_str.split(',')]
        return [item for item in items if item and item != 'Nan']
    except:
        return []

In [79]:
def process_json_file(file_path: str) -> pd.DataFrame:
    """
    Process a single JSON file and return a cleaned DataFrame.
    """
    with open(file_path, 'r', encoding='utf-8') as f:
        data = json.load(f)
    
    # Convert to DataFrame
    df = pd.DataFrame(data)
    
    print(f"  Processing {len(df)} records...")
    
    # Apply parsing functions
    df['weight'] = df['weight'].apply(parse_weight)
    df['size'] = df['size'].apply(parse_size)
    df['life_span'] = df['life_span'].apply(parse_lifespan)
    df['habitat'] = df['habitat'].apply(parse_array_field)
    df['continent'] = df['continent'].apply(parse_array_field)
    
    # Clean diet field with safe string conversion
    df['diet'] = df['diet'].apply(lambda x: str(x).strip().title() if x is not None and str(x).lower() != 'nan' else 'Unknown')
    
    return df

In [80]:
# Find all JSON files in the data directory
json_files = glob.glob('../data/gemini_animal_features_*.json')
print(f"Found {len(json_files)} JSON files:")
for file in sorted(json_files):
    print(f"  - {file}")

Found 6 JSON files:
  - ../data/gemini_animal_features_0_1000.json
  - ../data/gemini_animal_features_1000_2000.json
  - ../data/gemini_animal_features_2000_3000.json
  - ../data/gemini_animal_features_3000_4000.json
  - ../data/gemini_animal_features_4000_5000.json
  - ../data/gemini_animal_features_5000_6000.json

In [81]:
# Process all JSON files and combine them
all_dataframes = []

for file_path in sorted(json_files):
    print(f"Processing {file_path}...")
    try:
        df = process_json_file(file_path)
        all_dataframes.append(df)
        print(f"  - Processed {len(df)} records")
    except Exception as e:
        print(f"  - Error processing {file_path}: {e}")

# Combine all dataframes
if all_dataframes:
    combined_df = pd.concat(all_dataframes, ignore_index=True)
    print(f"\nCombined dataset shape: {combined_df.shape}")
else:
    print("No data to combine")
    combined_df = pd.DataFrame()

Processing ../data/gemini_animal_features_0_1000.json...
  Processing 774 records...
  - Processed 774 records
Processing ../data/gemini_animal_features_1000_2000.json...
  Processing 763 records...
  - Processed 763 records
Processing ../data/gemini_animal_features_2000_3000.json...
  Processing 785 records...
  - Processed 785 records
Processing ../data/gemini_animal_features_3000_4000.json...
  Processing 415 records...
  - Processed 415 records
Processing ../data/gemini_animal_features_4000_5000.json...
  Processing 737 records...
  - Processed 737 records
Processing ../data/gemini_animal_features_5000_6000.json...
  Processing 120 records...
  - Processed 120 records

Combined dataset shape: (3594, 8)

In [82]:
# Display basic information about the combined dataset
print("Dataset Info:")
print(f"Total records: {len(combined_df)}")
print(f"Columns: {list(combined_df.columns)}")
print("\nData types:")
print(combined_df.dtypes)
print("\nMissing values:")
print(combined_df.isnull().sum())

Dataset Info:
Total records: 3594
Columns: ['scientific_name', 'common_name', 'weight', 'size', 'diet', 'life_span', 'habitat', 'continent']

Data types:
scientific_name     object
common_name         object
weight             float64
size               float64
diet                object
life_span          float64
habitat             object
continent           object
dtype: object

Missing values:
scientific_name     0
common_name         0
weight             18
size                5
diet                0
life_span          56
habitat             0
continent           0
dtype: int64

In [83]:
# Display first few rows
print("First 5 rows:")
combined_df.head()

First 5 rows:

,scientific_name,common_name,weight,size,diet,life_span,habitat,continent
0,Abantennarius sanguineus,Bloody frogfish,50.0,10.0,Carnivore,6.000,"[Reefs, Sand, Rubble, Ocean, Coastal]","[Asia, Oceania, Africa, North America, South A..."
1,Abantis paradisea,Paradise Skipper,1.0,3.0,Herbivore,0.075,"[Forest, Woodland, Savannah, Garden]",[Africa]
2,Abbottina rivularis,Chinese false gudgeon,20.0,10.0,Omnivore,4.000,"[River, Stream, Lake, Pond, Canal]",[Asia]
3,Abisares viridipennis,African darkling beetle,5.0,1.0,Herbivore,1.500,"[Forest, Woodland, Desert, Savannah]",[Africa]
4,Abramis brama,Bream,2000.0,50.0,Omnivore,17.500,"[Lake, River, Pond, Canal, Reservoir]","[Europe, Asia]"

In [84]:
# Display summary statistics for numerical columns
print("Summary statistics:")
combined_df[['weight', 'size', 'life_span']].describe()

Summary statistics:

             weight         size    life_span
count  3.576000e+03  3589.000000  3538.000000
mean   5.052410e+04    23.672332     5.054717
std    1.117806e+06    77.008825     8.241806
min    1.000000e-06     0.000000     0.002740
25%    5.500000e-02     1.000000     0.750000
50%    1.000000e+00     4.000000     1.500000
75%    7.500000e+01    21.000000     7.500000
max    5.002500e+07  1575.000000   110.000000

In [85]:
# Check unique values in categorical columns
print("Unique diet types:")
print(combined_df['diet'].value_counts())

print("\nSample habitat arrays:")
print(combined_df['habitat'].head(10).tolist())

print("\nSample continent arrays:")
print(combined_df['continent'].head(10).tolist())

Unique diet types:
diet
Herbivore                                      1285
Carnivore                                       836
Omnivore                                        752
Insectivore                                     706
Insectivore, Herbivore                            7
Carnivore, Herbivore                              2
Fungivore                                         2
Detritivore                                       1
Unknown                                           1
Herbivore, Carnivore, Omnivore, Insectivore       1
Herbivore, Omnivore, Insectivore                  1
Name: count, dtype: int64

Sample habitat arrays:
[['Reefs', 'Sand', 'Rubble', 'Ocean', 'Coastal'], ['Forest', 'Woodland', 'Savannah', 'Garden'], ['River', 'Stream', 'Lake', 'Pond', 'Canal'], ['Forest', 'Woodland', 'Desert', 'Savannah'], ['Lake', 'River', 'Pond', 'Canal', 'Reservoir'], ['Forest', 'Woodland', 'Savannah'], ['Tree', 'Orchard', 'Garden', 'Forest'], ['Forest', 'Grassland', 'Urban', 'Wetland', 'Agricultural'], ['Forest', 'Woodland', 'Garden', 'Shrubland', 'Meadow'], ['Forest', 'Garden', 'Shrubland', 'Meadow', 'Orchard']]

Sample continent arrays:
[['Asia', 'Oceania', 'Africa', 'North America', 'South America'], ['Africa'], ['Asia'], ['Africa'], ['Europe', 'Asia'], ['Africa'], ['North America'], ['Asia', 'Africa', 'Europe', 'North America', 'South America'], ['North America', 'Central America', 'South America'], ['North America']]

In [86]:
# Remove duplicates based on scientific name
print(f"Records before duplicate removal: {len(combined_df)}")
combined_df = combined_df.drop_duplicates(subset=['scientific_name'], keep='first')
print(f"Records after duplicate removal: {len(combined_df)}")

Records before duplicate removal: 3594
Records after duplicate removal: 3594

In [87]:
# Filter out records with multiple diets (containing commas)
print("Diet analysis:")
print("All diet types:")
print(combined_df['diet'].value_counts())

print(f"\nRecords with multiple diets (containing commas): {combined_df['diet'].str.contains(',').sum()}")
print("Multi-diet records:")
multi_diet_records = combined_df[combined_df['diet'].str.contains(',', na=False)]
print(multi_diet_records[['scientific_name', 'common_name', 'diet']])

print(f"\nFiltering out {len(multi_diet_records)} records with multiple diets...")
combined_df_single_diet = combined_df[~combined_df['diet'].str.contains(',', na=False)]
print(f"Records after filtering: {len(combined_df_single_diet)}")

print("\nDiet types after filtering:")
print(combined_df_single_diet['diet'].value_counts())

Diet analysis:
All diet types:
diet
Herbivore                                      1285
Carnivore                                       836
Omnivore                                        752
Insectivore                                     706
Insectivore, Herbivore                            7
Carnivore, Herbivore                              2
Fungivore                                         2
Detritivore                                       1
Unknown                                           1
Herbivore, Carnivore, Omnivore, Insectivore       1
Herbivore, Omnivore, Insectivore                  1
Name: count, dtype: int64

Records with multiple diets (containing commas): 11
Multi-diet records:
                      scientific_name                    common_name  \
25                              Acari                Mites and ticks
26                        Acariformes                          Mites
1032          Crithagra citrinipectus          Lemon-breasted Canary
1033                Crithagra gularis       Streaky-headed Seedeater
1034               Crithagra mennelli          Black-eared Seedeater
1035              Crithagra mozambica          Yellow-fronted Canary
1036       Crithagra mozambica granti  Grant's Yellow-fronted Canary
1037  Crithagra sulphurata sulphurata          Cape Brimstone Canary
1038     Crithagra sulphurata wilsoni      Wilson's Brimstone Canary
1771                      Hymenoptera    Ants, Bees, Wasps, Sawflies
2865                         Rodentia                        Rodents

                                             diet
25                           Carnivore, Herbivore
26                           Carnivore, Herbivore
1032                       Insectivore, Herbivore
1033                       Insectivore, Herbivore
1034                       Insectivore, Herbivore
1035                       Insectivore, Herbivore
1036                       Insectivore, Herbivore
1037                       Insectivore, Herbivore
1038                       Insectivore, Herbivore
1771  Herbivore, Carnivore, Omnivore, Insectivore
2865             Herbivore, Omnivore, Insectivore

Filtering out 11 records with multiple diets...
Records after filtering: 3583

Diet types after filtering:
diet
Herbivore      1285
Carnivore       836
Omnivore        752
Insectivore     706
Fungivore         2
Detritivore       1
Unknown           1
Name: count, dtype: int64

In [88]:
# Filter to keep only specific diet types: Herbivore, Carnivore, Omnivore, Insectivore
allowed_diets = ['Herbivore', 'Carnivore', 'Omnivore', 'Insectivore']

print("Filtering to keep only main diet types...")
print(f"Allowed diets: {allowed_diets}")

print(f"\nBefore diet filtering: {len(combined_df_single_diet)} records")
print("Diet distribution before filtering:")
print(combined_df_single_diet['diet'].value_counts())

# Filter to keep only records with allowed diet types
combined_df_filtered = combined_df_single_diet[combined_df_single_diet['diet'].isin(allowed_diets)]

print(f"\nAfter diet filtering: {len(combined_df_filtered)} records")
print(f"Removed {len(combined_df_single_diet) - len(combined_df_filtered)} records")

print("\nDiet distribution after filtering:")
print(combined_df_filtered['diet'].value_counts())

print("\nFinal diet percentages:")
diet_percentages = combined_df_filtered['diet'].value_counts(normalize=True) * 100
for diet, percentage in diet_percentages.items():
    print(f"{diet}: {percentage:.1f}%")

Filtering to keep only main diet types...
Allowed diets: ['Herbivore', 'Carnivore', 'Omnivore', 'Insectivore']

Before diet filtering: 3583 records
Diet distribution before filtering:
diet
Herbivore      1285
Carnivore       836
Omnivore        752
Insectivore     706
Fungivore         2
Detritivore       1
Unknown           1
Name: count, dtype: int64

After diet filtering: 3579 records
Removed 4 records

Diet distribution after filtering:
diet
Herbivore      1285
Carnivore       836
Omnivore        752
Insectivore     706
Name: count, dtype: int64

Final diet percentages:
Herbivore: 35.9%
Carnivore: 23.4%
Omnivore: 21.0%
Insectivore: 19.7%

In [89]:
# Clean and standardize continent values
allowed_continents = ['North America', 'Asia', 'Africa', 'Europe', 'South America', 'Oceania', 'Central America']
global_keywords = ['All', 'Global', 'Worldwide']

print("Cleaning continent values...")
print(f"Allowed continents: {allowed_continents}")
print(f"Global keywords (will be replaced with all continents): {global_keywords}")

# First, let's see what continent values we currently have
all_continent_values = set()
for continents in combined_df_filtered['continent']:
    if isinstance(continents, list):
        all_continent_values.update(continents)

print(f"\nCurrent unique continent values ({len(all_continent_values)}):")
for value in sorted(all_continent_values):
    print(f"  - {value}")

def clean_continent_array(continent_list):
    """Clean continent array according to specifications"""
    if not isinstance(continent_list, list):
        return []
    
    cleaned_continents = []
    
    for continent in continent_list:
        continent_str = str(continent).strip()
        
        # Check if it's a global keyword
        if continent_str in global_keywords:
            return allowed_continents.copy()  # Return all continents
        
        # Check if it's in our allowed list (exact match)
        if continent_str in allowed_continents:
            cleaned_continents.append(continent_str)
    
    # Remove duplicates while preserving order
    seen = set()
    result = []
    for continent in cleaned_continents:
        if continent not in seen:
            seen.add(continent)
            result.append(continent)
    
    return result

print(f"\nBefore continent cleaning: {len(combined_df_filtered)} records")

# Apply continent cleaning
combined_df_filtered['continent_cleaned'] = combined_df_filtered['continent'].apply(clean_continent_array)

# Check which records will have empty continent arrays
empty_continents = combined_df_filtered['continent_cleaned'].apply(len) == 0
print(f"Records with empty continent arrays after cleaning: {empty_continents.sum()}")

if empty_continents.sum() > 0:
    print("Sample records that will be removed (empty continents):")
    sample_empty = combined_df_filtered[empty_continents][['scientific_name', 'common_name', 'continent']].head()
    print(sample_empty.to_string(index=False))

# Remove records with empty continent arrays
combined_df_continent_cleaned = combined_df_filtered[~empty_continents].copy()

# Replace the original continent column with cleaned version
combined_df_continent_cleaned['continent'] = combined_df_continent_cleaned['continent_cleaned']
combined_df_continent_cleaned = combined_df_continent_cleaned.drop('continent_cleaned', axis=1)

print(f"\nAfter continent cleaning: {len(combined_df_continent_cleaned)} records")
print(f"Records removed due to invalid/empty continents: {len(combined_df_filtered) - len(combined_df_continent_cleaned)}")

# Show the cleaned continent values
cleaned_continent_values = set()
for continents in combined_df_continent_cleaned['continent']:
    if isinstance(continents, list):
        cleaned_continent_values.update(continents)

print(f"\nCleaned continent values ({len(cleaned_continent_values)}):")
for value in sorted(cleaned_continent_values):
    print(f"  - {value}")

Cleaning continent values...
Allowed continents: ['North America', 'Asia', 'Africa', 'Europe', 'South America', 'Oceania', 'Central America']
Global keywords (will be replaced with all continents): ['All', 'Global', 'Worldwide']

Current unique continent values (36):
  - Africa
  - All
  - All Continents
  - All Continents (Excluding Antarctica)
  - All Continents Except Antarctica
  - Antarctica
  - Arctic
  - Asia
  - Atlantic
  - Australia
  - Caribbean
  - Central America
  - Central_America
  - Cosmopolitan
  - Eurasia
  - Europe
  - Global
  - Global (Fossil)
  - Global (Introduced)
  - Globally
  - Indian
  - Madagascar
  - Middle East
  - Multiple Continents
  - North Africa
  - North America
  - North_Africa
  - North_America
  - Oceania
  - Pacific
  - South Africa
  - South America
  - South_America
  - Southern
  - Varies Widely
  - Worldwide

Before continent cleaning: 3579 records
Records with empty continent arrays after cleaning: 39
Sample records that will be removed (empty continents):
           scientific_name          common_name                                       continent
             Anolis roquet     Martinique Anole                                     [Caribbean]
                 Aphididae      Aphids (Family)                                [All Continents]
         Argiope argentata Silver Garden Spider [North_America, Central_America, South_America]
          Argiope aurantia Yellow Garden Spider                [North_America, Central_America]
Balaenoptera acutorostrata   Common Minke Whale           [Arctic, Atlantic, Pacific, Southern]

After continent cleaning: 3540 records
Records removed due to invalid/empty continents: 39

Cleaned continent values (7):
  - Africa
  - Asia
  - Central America
  - Europe
  - North America
  - Oceania
  - South America

/var/folders/yg/sgfy9y_x10vbqfjqsdpl66dh0000gn/T/ipykernel_90427/737721976.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combined_df_filtered['continent_cleaned'] = combined_df_filtered['continent'].apply(clean_continent_array)

In [90]:
# Analyze records by habitat (using continent-cleaned dataset)
print("HABITAT ANALYSIS (Final Cleaned Dataset)")
print("=" * 50)

# Count records for each unique habitat type
habitat_counts = {}
for habitats in combined_df_continent_cleaned['habitat']:
    if isinstance(habitats, list):
        for habitat in habitats:
            habitat_counts[habitat] = habitat_counts.get(habitat, 0) + 1

print("Records per habitat type:")
habitat_df = pd.DataFrame(list(habitat_counts.items()), columns=['Habitat', 'Count']).sort_values('Count', ascending=False)
print(habitat_df.to_string(index=False))

print(f"\nTotal unique habitat types: {len(habitat_counts)}")
print(f"Most common habitat: {habitat_df.iloc[0]['Habitat']} ({habitat_df.iloc[0]['Count']} records)")
print(f"Least common habitats: {habitat_df[habitat_df['Count'] == habitat_df['Count'].min()]['Habitat'].tolist()}")

HABITAT ANALYSIS (Final Cleaned Dataset)
==================================================
Records per habitat type:
               Habitat  Count
                Forest   1918
                Garden   1172
              Woodland   1114
             Grassland   1110
                 Urban    844
             Shrubland    774
               Gardens    381
                Meadow    371
               Forests    364
               Wetland    340
                 Field    329
               Savanna    286
               Coastal    250
                Desert    235
             Woodlands    231
          Agricultural    215
                  Lake    212
                 River    210
              Farmland    189
                  Pond    188
            Grasslands    172
              Savannah    148
                 Marsh    143
                Stream    135
                Fields    135
                  Park    133
              Mountain    119
               Estuary    112
                 Ocean    111
                 Lakes    109
               Meadows    107
              Wetlands    107
                Rivers    106
              Tropical    104
                 Swamp    102
                 Rocky     91
               Orchard     85
                 Ponds     83
              Bushland     81
             Scrubland     78
                Swamps     67
               Marshes     65
                Tundra     62
            Plantation     61
              Mangrove     60
                Marine     60
                 Coast     59
            Freshwater     54
                Shrubs     53
             Estuaries     52
             Heathland     50
            Rainforest     50
               Streams     48
            Intertidal     47
                 Rural     47
                  Soil     46
            Shrublands     44
               Deserts     43
              Riparian     43
                Jungle     42
              Riverine     41
              Suburban     39
                 Parks     37
                Coasts     36
                  Open     35
                  Reef     34
              Subtidal     33
                  Arid     32
                  Cave     31
           Leaf Litter     31
                 Caves     30
                 Sandy     30
              Savannas     30
             Farmlands     30
                 Taiga     30
             Mountains     29
           Subtropical     29
                 Trees     28
               Thicket     27
                Steppe     25
                 Beach     24
                Island     24
           Undergrowth     24
              Moorland     23
                Alpine     23
             Chaparral     23
              Orchards     23
                 Farms     21
               Prairie     21
               Pelagic     20
            Coniferous     20
             Riverbank     19
             Deciduous     19
                 Scrub     19
               Islands     19
              Hedgerow     18
                  Tree     17
           Plantations     17
                  Farm     17
                 Cliff     17
               Aquatic     17
                  Dune     17
            Cultivated     16
               Indoors     16
             Temperate     16
               Beaches     16
                  Sand     15
               Pasture     15
                Cliffs     14
               Mudflat     14
                Arctic     14
                  Kelp     13
               Benthic     13
                 Canal     13
           Semi-Desert     13
                  Crop     13
                 Humid     13
                 Moist     13
              Openland     12
              Prairies     12
              Vineyard     12
                Lagoon     11
                  Bush     11
                  Rock     11
              Mudflats     11
               Reedbed     11
               Montane     11
                 Walls     10
         Mediterranean     10
             Mangroves     10
               Lowland     10
                Plains     10
              Building      9
                 Shore      9
                  Damp      9
                Houses      9
                Fynbos      9
                  Moss      9
                 Reefs      9
             Buildings      9
                Plants      9
             Disturbed      9
              Brackish      9
            Greenhouse      9
                Litter      9
            Heathlands      8
               Jungles      8
                   Bay      8
             Hedgerows      8
                Bamboo      8
               Dryland      8
            Reservoirs      8
                Indoor      8
                  Bogs      8
                Boreal      7
                 Rocks      7
                 Heath      7
                 Shrub      7
                  Wall      7
              Tidepool      7
              Roadside      6
              Seagrass      6
                   Dry      6
            Riverbanks      6
                  Edge      6
           Greenhouses      6
                   Mud      6
               Harbors      6
             Clearings      6
           Underground      6
                Canyon      6
                   Bog      6
                 Muddy      6
                Oceans      6
           Forest Edge      5
          Subterranean      5
           Leaf-Litter      5
              Thickets      5
                 Dunes      5
               Gallery      5
              Seafloor      5
              Bushveld      5
                  Bark      5
           Terrestrial      5
           Agriculture      5
               Conifer      5
           Rocky Shore      5
            Coastlines      5
               Tropics      5
           Leaf_Litter      5
                 House      5
               Ditches      5
             Ricefield      5
             Underwood      5
          Rocky Shores      5
          Kelp Forests      5
              Pastures      5
                Leaves      5
             Reservoir      5
                  Hill      5
             Nurseries      4
                Canopy      4
            Vegetation      4
                 Nests      4
            Paddyfield      4
                 Shelf      4
           Kelp Forest      4
              Deep-Sea      4
               Shallow      4
              Parkland      4
                  Logs      4
                Maquis      4
                 Mixed      4
            Under_Rock      3
            Floodplain      3
              Pavement      3
           Cultivation      3
            Rocky Reef      3
               Oceanic      3
                  Deep      3
             Evergreen      3
               Garages      3
             Riverside      3
            Rockyareas      3
           Rainforests      3
                  Wood      3
             Saltmarsh      3
                Valley      3
         Sandy Bottoms      3
           Under Rocks      3
            Open Ocean      3
              Sediment      3
                 Paddy      3
                 Reeds      3
              Dwelling      3
            Dry Forest      3
              Decaying      3
                Groves      3
             Roadsides      3
             Subalpine      3
             Cropfield      3
             Shoreline      3
               Lagoons      3
                  Buds      3
                 Creek      3
           Forest-Edge      3
             Vineyards      3
              Lowlands      3
                 Ditch      3
           Cloudforest      2
                Canals      2
             Moorlands      2
             Underbark      2
             Estuarine      2
            Riversides      2
             Hillsides      2
              Seashore      2
               Burrows      2
            Scrublands      2
                 Sheds      2
            Ricefields      2
                 Fungi      2
            Laboratory      2
             Bushlands      2
                  Lawn      2
                 Karoo      2
           Rocky Reefs      2
                 Plant      2
            Open Areas      2
             Secondary      2
                 Water      2
             Openwater      2
   Agricultural Fields      2
         Muddy Bottoms      2
           Under_Rocks      2
             Coldwater      2
         Open Woodland      2
                Acacia      2
               Storage      2
               Suburbs      2
                 Algae      2
                  Nest      2
               Canyons      2
              Offshore      2
             Antarctic      2
            Open_Areas      2
              Drylands      2
                Paramo      2
             Wasteland      2
           Open Fields      2
             Subarctic      2
           Residential      2
             Deepwater      2
                  Leaf      2
                Burrow      2
                 Lawns      2
                 Coral      2
                  Bays      2
               Deepsea      2
              Arboreal      2
               Redwood      2
             Basements      2
             Sandflats      2
             Tidepools      2
                 Stems      2
              Villages      2
                Cellar      2
                   Log      2
            Salt Marsh      2
              Dampwood      1
             Broadleaf      1
             Surf Zone      1
             Savannahs      1
             Structure      1
                  Pine      1
                Heaths      1
            Rice Paddy      1
            Human-Made      1
               Museums      1
               Abyssal      1
               Gullies      1
             Dwellings      1
              Peatland      1
           Habitations      1
            Leaflitter      1
               Glacier      1
           Continental      1
                 Waste      1
             Semi-Arid      1
               Ruderal      1
          Sandy Bottom      1
                   Ice      1
             Parasitic      1
               Steppes      1
                Stumps      1
               Grasses      1
                 Human      1
             Foothills      1
                Mosses      1
                 Hilly      1
             Sub-Urban      1
                Manure      1
                Drains      1
               Compost      1
            Under Bark      1
              Reedbeds      1
              Clearing      1
            Coral Reef      1
                 Shade      1
                Flower      1
               Sandbar      1
               Paddies      1
              Demersal      1
              Shallows      1
            Tidal Zone      1
                Garage      1
             Sandhills      1
            Sand Dunes      1
               Animals      1
                Seabed      1
      Succulent_Garden      1
                  Aloe      1
            Under_Wood      1
             Damp_Area      1
             Dry Areas      1
            Cropfields      1
            Under Logs      1
                 Jetty      1
                Rubble      1
             Under_Log      1
            Moist_Soil      1
          Sandy_Bottom      1
                 Barns      1
          Muddy_Bottom      1
             Arid_Land      1
            Rocky_Area      1
          Openwoodland      1
              Aquarium      1
           Pine Forest      1
            Algae_Beds      1
                 Oases      1
            Open-Field      1
              Pack-Ice      1
          Open_Forests      1
                 Birds      1
          Forest_Edges      1
                 Hedge      1
          Rocky_Shores      1
      Tropical_Forests      1
              Hillside      1
Shallow Coastal Waters      1
                  Dock      1
               Pilings      1
         Eelgrass Beds      1
            Tide Pools      1
                Lichen      1
                  Bank      1
               Cellars      1
              Semiarid      1
             Kelp Beds      1
              Pineland      1
                 Moors      1
        Gallery Forest      1
       Tropical Forest      1
            Open Field      1
             Saltwater      1
                   Sea      1
                Shores      1
               Surface      1
              Ice-Edge      1
          Arid Regions      1
                 Grove      1
           Aquaculture      1
           Tree-Canopy      1
               Papyrus      1
                Wrecks      1
               Village      1
                Aerial      1
                Saline      1
            Eucalyptus      1
        Pinyon-Juniper      1
               Hammock      1
           Open Forest      1
         Ruderal Areas      1
             Landfills      1
                Cities      1
               Shelter      1
                Toilet      1
                  Shed      1
            Backwaters      1
                  Dump      1
              Deep Sea      1
          Stream Banks      1
                  Pool      1
           Desert-Edge      1
                 Hills      1
               Primary      1
                   Wet      1
                 Fence      1
              Open Sea      1
                 Polar      1
               Oakland      1
             Ice Floes      1
               Benthos      1
                   Oak      1
              Highland      1
                 Edges      1
           Saltmarshes      1
                Cracks      1
            Tidalflats      1
              Backyard      1
                Animal      1
              Sandhill      1
              Treeless      1
               Springs      1
                 Crack      1
                  Palm      1
             Openareas      1
                Museum      1
                  Home      1
         Decaying Wood      1
            Coral_Reef      1
                Bushes      1
             Backyards      1
              Garrigue      1

Total unique habitat types: 465
Most common habitat: Forest (1918 records)
Least common habitats: ['Dampwood', 'Broadleaf', 'Surf Zone', 'Savannahs', 'Structure', 'Pine', 'Heaths', 'Rice Paddy', 'Human-Made', 'Museums', 'Abyssal', 'Gullies', 'Dwellings', 'Peatland', 'Habitations', 'Leaflitter', 'Glacier', 'Continental', 'Waste', 'Semi-Arid', 'Ruderal', 'Sandy Bottom', 'Ice', 'Parasitic', 'Steppes', 'Stumps', 'Grasses', 'Human', 'Foothills', 'Mosses', 'Hilly', 'Sub-Urban', 'Manure', 'Drains', 'Compost', 'Under Bark', 'Reedbeds', 'Clearing', 'Coral Reef', 'Shade', 'Flower', 'Sandbar', 'Paddies', 'Demersal', 'Shallows', 'Tidal Zone', 'Garage', 'Sandhills', 'Sand Dunes', 'Animals', 'Seabed', 'Succulent_Garden', 'Aloe', 'Under_Wood', 'Damp_Area', 'Dry Areas', 'Cropfields', 'Under Logs', 'Jetty', 'Rubble', 'Under_Log', 'Moist_Soil', 'Sandy_Bottom', 'Barns', 'Muddy_Bottom', 'Arid_Land', 'Rocky_Area', 'Openwoodland', 'Aquarium', 'Pine Forest', 'Algae_Beds', 'Oases', 'Open-Field', 'Pack-Ice', 'Open_Forests', 'Birds', 'Forest_Edges', 'Hedge', 'Rocky_Shores', 'Tropical_Forests', 'Hillside', 'Shallow Coastal Waters', 'Dock', 'Pilings', 'Eelgrass Beds', 'Tide Pools', 'Lichen', 'Bank', 'Cellars', 'Semiarid', 'Kelp Beds', 'Pineland', 'Moors', 'Gallery Forest', 'Tropical Forest', 'Open Field', 'Saltwater', 'Sea', 'Shores', 'Surface', 'Ice-Edge', 'Arid Regions', 'Grove', 'Aquaculture', 'Tree-Canopy', 'Papyrus', 'Wrecks', 'Village', 'Aerial', 'Saline', 'Eucalyptus', 'Pinyon-Juniper', 'Hammock', 'Open Forest', 'Ruderal Areas', 'Landfills', 'Cities', 'Shelter', 'Toilet', 'Shed', 'Backwaters', 'Dump', 'Deep Sea', 'Stream Banks', 'Pool', 'Desert-Edge', 'Hills', 'Primary', 'Wet', 'Fence', 'Open Sea', 'Polar', 'Oakland', 'Ice Floes', 'Benthos', 'Oak', 'Highland', 'Edges', 'Saltmarshes', 'Cracks', 'Tidalflats', 'Backyard', 'Animal', 'Sandhill', 'Treeless', 'Springs', 'Crack', 'Palm', 'Openareas', 'Museum', 'Home', 'Decaying Wood', 'Coral_Reef', 'Bushes', 'Backyards', 'Garrigue']

In [91]:
# Analyze records by continent (using continent-cleaned dataset)
print("CONTINENT ANALYSIS (Final Cleaned Dataset)")
print("=" * 50)

# Count records for each unique continent
continent_counts = {}
for continents in combined_df_continent_cleaned['continent']:
    if isinstance(continents, list):
        for continent in continents:
            continent_counts[continent] = continent_counts.get(continent, 0) + 1

print("Records per continent:")
continent_df = pd.DataFrame(list(continent_counts.items()), columns=['Continent', 'Count']).sort_values('Count', ascending=False)
print(continent_df.to_string(index=False))

print(f"\nTotal unique continents: {len(continent_counts)}")
print(f"Most common continent: {continent_df.iloc[0]['Continent']} ({continent_df.iloc[0]['Count']} records)")
print(f"Least common continent: {continent_df.iloc[-1]['Continent']} ({continent_df.iloc[-1]['Count']} records)")

# Show animals that appear on multiple continents
print("\nAnimals found on multiple continents:")
multi_continent_animals = combined_df_continent_cleaned[combined_df_continent_cleaned['continent'].apply(lambda x: len(x) if isinstance(x, list) else 0) > 1]
print(f"Number of animals found on multiple continents: {len(multi_continent_animals)}")
if len(multi_continent_animals) > 0:
    print("Sample multi-continent animals:")
    print(multi_continent_animals[['scientific_name', 'common_name', 'continent']].head().to_string(index=False))

# Show continent distribution percentages
print(f"\nContinent distribution percentages:")
continent_percentages = continent_df.set_index('Continent')['Count'] / continent_df['Count'].sum() * 100
for continent, percentage in continent_percentages.items():
    print(f"{continent}: {percentage:.1f}%")

CONTINENT ANALYSIS (Final Cleaned Dataset)
==================================================
Records per continent:
      Continent  Count
  North America   1852
           Asia   1812
         Africa   1454
         Europe   1270
  South America    826
        Oceania    789
Central America    388

Total unique continents: 7
Most common continent: North America (1852 records)
Least common continent: Central America (388 records)

Animals found on multiple continents:
Number of animals found on multiple continents: 1788
Sample multi-continent animals:
         scientific_name              common_name                                             continent
Abantennarius sanguineus          Bloody frogfish [Asia, Oceania, Africa, North America, South America]
           Abramis brama                    Bream                                        [Europe, Asia]
            Acalyptratae        Acalyptrate flies  [Asia, Africa, Europe, North America, South America]
              Acanalonia Acanalonian planthoppers       [North America, Central America, South America]
   Acanthepeira stellata   Starbellied orb-weaver                      [North America, Central America]

Continent distribution percentages:
North America: 22.1%
Asia: 21.6%
Africa: 17.3%
Europe: 15.1%
South America: 9.8%
Oceania: 9.4%
Central America: 4.6%

In [92]:
# Save the final cleaned dataset (with standardized continents)
print("Saving final cleaned dataset (main diets + standardized continents)...")

# Save final cleaned CSV
final_cleaned_csv = '../data/combined_animal_features_final.csv'
combined_df_continent_cleaned.to_csv(final_cleaned_csv, index=False)

# Save final cleaned JSON
final_cleaned_json = '../data/combined_animal_features_final.json'
combined_df_continent_cleaned.to_json(final_cleaned_json, orient='records', indent=2)

print(f"Final cleaned dataset saved:")
print(f"  - CSV: {final_cleaned_csv}")
print(f"  - JSON: {final_cleaned_json}")
print(f"  - Records: {len(combined_df_continent_cleaned)}")

# Complete processing summary
print(f"\nComplete dataset processing summary:")
print(f"1. Original records: {len(combined_df)}")
print(f"2. After removing multi-diets: {len(combined_df_single_diet)}")
print(f"3. After filtering to main diets: {len(combined_df_filtered)}")
print(f"4. After cleaning continents: {len(combined_df_continent_cleaned)}")
print(f"Total records removed: {len(combined_df) - len(combined_df_continent_cleaned)}")
print(f"Final retention rate: {(len(combined_df_continent_cleaned) / len(combined_df) * 100):.1f}%")

print(f"\nFinal dataset characteristics:")
print(f"Shape: {combined_df_continent_cleaned.shape}")
print(f"\nDiet distribution:")
print(combined_df_continent_cleaned['diet'].value_counts())

print(f"\nContinent values (all standardized):")
final_continents = set()
for continents in combined_df_continent_cleaned['continent']:
    if isinstance(continents, list):
        final_continents.update(continents)
print(sorted(final_continents))

print(f"\nSample of final cleaned data:")
print(combined_df_continent_cleaned[['scientific_name', 'common_name', 'diet', 'continent']].head().to_string(index=False))

Saving final cleaned dataset (main diets + standardized continents)...
Final cleaned dataset saved:
  - CSV: ../data/combined_animal_features_final.csv
  - JSON: ../data/combined_animal_features_final.json
  - Records: 3540

Complete dataset processing summary:
1. Original records: 3594
2. After removing multi-diets: 3583
3. After filtering to main diets: 3579
4. After cleaning continents: 3540
Total records removed: 54
Final retention rate: 98.5%

Final dataset characteristics:
Shape: (3540, 8)

Diet distribution:
diet
Herbivore      1276
Carnivore       826
Omnivore        741
Insectivore     697
Name: count, dtype: int64

Continent values (all standardized):
['Africa', 'Asia', 'Central America', 'Europe', 'North America', 'Oceania', 'South America']

Sample of final cleaned data:
         scientific_name             common_name      diet                                             continent
Abantennarius sanguineus         Bloody frogfish Carnivore [Asia, Oceania, Africa, North America, South America]
       Abantis paradisea        Paradise Skipper Herbivore                                              [Africa]
     Abbottina rivularis   Chinese false gudgeon  Omnivore                                                [Asia]
   Abisares viridipennis African darkling beetle Herbivore                                              [Africa]
           Abramis brama                   Bream  Omnivore                                        [Europe, Asia]

In [93]:
# Save the combined and cleaned dataset
output_file = '../data/combined_animal_features.csv'
combined_df.to_csv(output_file, index=False)
print(f"Dataset saved to: {output_file}")

# Also save as JSON for preservation of array fields
output_json = '../data/combined_animal_features.json'
combined_df.to_json(output_json, orient='records', indent=2)
print(f"Dataset also saved as JSON to: {output_json}")

Dataset saved to: ../data/combined_animal_features.csv
Dataset also saved as JSON to: ../data/combined_animal_features.json

In [95]:
# Final verification - display the structure of our final dataset
print("Final Dataset Structure:")
print(f"Shape: {combined_df.shape}")
print(f"Columns: {list(combined_df.columns)}")
print("\nSample records:")
combined_df.head()

Final Dataset Structure:
Shape: (3594, 8)
Columns: ['scientific_name', 'common_name', 'weight', 'size', 'diet', 'life_span', 'habitat', 'continent']

Sample records:

,scientific_name,common_name,weight,size,diet,life_span,habitat,continent
0,Abantennarius sanguineus,Bloody frogfish,50.0,10.0,Carnivore,6.000,"[Reefs, Sand, Rubble, Ocean, Coastal]","[Asia, Oceania, Africa, North America, South A..."
1,Abantis paradisea,Paradise Skipper,1.0,3.0,Herbivore,0.075,"[Forest, Woodland, Savannah, Garden]",[Africa]
2,Abbottina rivularis,Chinese false gudgeon,20.0,10.0,Omnivore,4.000,"[River, Stream, Lake, Pond, Canal]",[Asia]
3,Abisares viridipennis,African darkling beetle,5.0,1.0,Herbivore,1.500,"[Forest, Woodland, Desert, Savannah]",[Africa]
4,Abramis brama,Bream,2000.0,50.0,Omnivore,17.500,"[Lake, River, Pond, Canal, Reservoir]","[Europe, Asia]"